*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins {
  font-family: "Poppins", sans-serif;
}

/* shared style */
.display-flex{
    display: flex;
}
.primary-color{
    color: #3A3A3A;
}
/* header */
header{
    max-width: 1440px;
    margin: 0 auto;
}
/* navbar */
.navber{
    padding: 40px 0;
    justify-content: space-between;
}
.nav-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.nav-links{
    gap: 34px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #3A3A3A;
}
/* banner */
.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 130px; */
}
.banner-left-side{
    width: 582px;
}
.banner-left-title{
    font-size: 3.15rem;
    font-weight: 600;
}
.banner-left-description{
    font-size: 1rem;
    font-weight: 400;
    margin: 16px 0;
}
.prmary-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 25px;
    border: none;
    border-radius: 40px;
}
.banner-right-image{
    
}
.bottom-banner{
    gap: 60px;
    padding: 35px 60px;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}