*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins {
  font-family: "Poppins", sans-serif;
}

/* shared style */
.display-flex{
    display: flex;
}
.primary-color{
    color: #3A3A3A;
}
/* header */
header,.feature-product{
    max-width: 1440px;
    margin: 0 auto;
}
/* navbar */
.navber{
    padding: 40px 0;
    justify-content: space-between;
}
.nav-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.nav-links{
    gap: 34px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #3A3A3A;
}
/* banner */
.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 130px; */
}
.banner-left-side{
    width: 582px;
}
.banner-left-title{
    font-size: 3.15rem;
    font-weight: 600;
}
.banner-left-description{
    font-size: 1rem;
    font-weight: 400;
    margin: 16px 0;
}
.prmary-btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 25px;
    border: none;
    border-radius: 40px;
}
.banner-right-image{
    
}
.bottom-banner{
    gap: 60px;
    padding: 35px 60px;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 100px;
}

/* card section */
.card-section{
    max-width: 1100px;
    margin: 0 auto;
}
.card-title{
    text-align: center;
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 600;
}
.card-container{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}
.card{
    background-color: #FFFFFF;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    /* justify-content: center; */
    width: 330px;
    height: 475px;
    padding: 17px 15px;
    gap: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px #eeeeee;

}
.card img{
    border-radius: 5 px;
}
.inner-card-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.inner-card-price{
    font-size: 1.5rem;
    font-weight: 400;
}
.star-rating i{
    color: orange;
}
.card-bottom-text{
    display: flex;
    flex-direction: column;
}
.card-bottom-text span{
    color: #3A3A3A;
}
.see-more{
    color: #E02C6D;
    text-align: right;
}

/* feature section */
.feature-product{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    gap: 96px;
}
.feature-right-text{
    width: 610px;
}
.feature-right-title{
    columns: #0A0826;
    font-size: 2.40rem;
    font-weight: 600;
}
.feature-right-description{
    font-size: 1rem;
    font-weight: 600;
    margin: 16px 0px;
}
.secondary-btn{
    padding: 10px 24px;
    background-color: #E02C6D;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
}
/* footer */
footer{
    background-color: rgb(1, 1, 32);
    align-items: center;
}
.footer-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.Copyright{
    font-size: 0.80rem;
    padding: 5px 0;
}
.footer-container{
    color: white;
    text-align: center;
    padding: 50px 0px;
    /* align-items: center; */
}
.social-link{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 18px;
}
.social-link a{
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(190, 186, 186, 0.377);
    color: white;
}